body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #fdf0d5;
    color: #003049;
    border-right: 3px solid #669bbc;
    border-top: 3px solid #669bbc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    animation-name: myCard;
    animation-duration: 3s;
}

.card:hover {
  background-color: #f7a072;  
}

@keyframes myCard {
  from  {background-color: rgba(255, 247, 2, 0.842);}
   to   {background-color: #f7a072;}
}