body {
    margin: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1.25em ;
 
}

.avatar {
    width: 150px;
}

.card {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    background-color: #f7a072;
    color: #003049;
    border-right: 4px solid #669bbc;
    border-bottom: 4px solid #669bbc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    animation-name: myCard;
    animation-duration: 3s;
 
}


.card:hover {
  background-color: #f9dba0;  
}

@keyframes myCard {
  from  {background-color: #f7a072;}
   to   {background-color:  #f9dba0;}
}

img{
  min-width: 200px;
  max-height: 200px;
  border-radius: 50%;


}